@import "tailwindcss";

@theme {
  --color-brand: #036cf2ff;
  --color-brand_yellow: #f9ac03ff;
  --font-display: "Poppins", sans-serif;
  --font-logo: "Audiowide", audiowide;

}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}


.x-line {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: draw-line 0.25s ease-out forwards;
}

.x-line.delay {
  animation-delay: 0.15s;
}

.o-circle {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  animation: draw-line 0.35s ease-out forwards;
}

.win-line {
  stroke: black;
  stroke-width: 2.5;
  /* stroke-linecap: round; */
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: draw-line 0.5s ease-out forwards;
}
